extends ./structure/_layout.pug

block content

  div.content

    section.section

      article.post
        h3 標題
        p 內文

      article.post
        h3 標題
        p 內文

      article.post
        h3 標題
        p 內文

    aside.slider 側邊欄
