@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin mask-box($w, $h) {
  width: $w;
  height: $h;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translateX(-50%) translateY(-50%);
}

@mixin abs-pos($x, $y) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX($x) translateY($y);
}
